<html
        xmlns:th="http://thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- Boxicons -->
  <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
  <!-- My CSS -->
  <!--    <link rel="stylesheet" href="style.css">-->
  <link rel="stylesheet" th:href="@{/css/style.css}">

  <title>Insurance App</title>
</head>
<body>

<section id="sidebar">
  <a href="#" class="brand">
    <i class='bx bxs-smile'></i>
    <span class="text">Insurance Company</span>
  </a>
  <ul class="side-menu top">
    <li>
      <a th:href="@{/dashboard}">
        <i class='bx bxs-dashboard' ></i>
        <span class="text">Dashboard</span>
      </a>
    </li>
    <!--        <li class="active">-->
    <!--            <a href="#">-->
    <!--                <i class='bx bxs-shopping-bag-alt' ></i>-->
    <!--                <span class="text">User Information</span>-->
    <!--            </a>-->
    <!--        </li>-->
    <li class="active">
      <a th:href="@{/users}">
        <!--                <i class='bx bxs-shopping-bag-alt' ></i>-->

        <i class='bx bxs-user-account'></i>
        <span class="text">Registered Clients</span>
      </a>
    </li>

    <li>
      <a th:href="@{/clients_info}">
        <i class='bx bxs-user-rectangle' ></i>
        <span class="text">Client Information</span>
      </a>
    </li>
    <li>
      <a th:href="@{/claims}">
        <!--                <i class='bx bxs-doughnut-chart' ></i>-->
        <i class='bx bxs-info-square'></i>
        <span class="text">Claimed Information</span>
      </a>
    </li>
    <li>
      <a th:href="@{/Insurance}">
        <!--                <i class='bx bxs-message-dots' ></i>-->
        <i class='bx bxs-heart'></i>
        <span class="text">Life Insurance Information</span>
      </a>
    </li>
    <li>
      <a th:href="@{/vehicle}">
        <!--                <i class='bx bxs-message-dots' ></i>-->
        <i class='bx bxs-car'></i>
        <span class="text">Vehicle Insurance Information</span>
      </a>
    </li>
    <!--        <li>-->
    <!--            <a href="#">-->
    <!--                <i class='bx bxs-group' ></i>-->
    <!--                <span class="text">My Profile</span>-->
    <!--            </a>-->
    <!--        </li>-->
  </ul>
  <ul class="side-menu">
    <li>
      <a th:href="@{/profile}">
        <!--                <i class='bx bxs-cog' ></i>-->
        <i class='bx bxs-user-detail'></i>
        <span class="text">My Profile</span>
      </a>
    </li>

    <li>
      <a th:href="@{/logout}" class="logout">
        <i class='bx bxs-log-out-circle' ></i>
        <span class="text">Logout</span>
      </a>
    </li>
  </ul>
</section>
<!-- CONTENT -->
<section  id="content">
  <!-- NAVBAR -->
  <nav>
    <i class='bx bx-menu' ></i>


    <!-- <input type="checkbox" id="switch-mode" hidden>
    <label for="switch-mode" class="switch-mode"></label> -->
    <a href="#" class="notification">
      <!--      <h5>Geraffe B. Andal</h5>-->
      <span th:text = "${user.name}"> User</span>
    </a>
    <a href="#" class="profile">
      <img th:src="@{${user.avatar}}" alt="users dp" />
      <!--            <img th:src="@{${user.avatar}}">-->
    </a>
  </nav>
  <!-- NAVBAR -->

  <!-- MAIN -->
  <main>
    <div class="head-title">
      <div class="left">
        <h1>Users</h1>
        <ul class="breadcrumb">
          <li>
            <a href="#">Clients</a>
          </li>
          <li><i class='bx bx-chevron-right' ></i></li>
          <li>
            <a class="active" th:href="@{/users}">Registered Clients</a>
          </li>
        </ul>
      </div>

    </div>



    <div class="table-data">
      <div class="order">

        <div th:if="${param.success}">
          <div class="alert alert-info">
            You have successfully created the insurance application!
          </div>
        </div>

        <div class="head">
          <h3>Registered Clients</h3>
          <a class="btn-btn-primary" th:href="@{/user/register}"><i class='bx bx-plus'><span>Add New Client</span></i> </a>
        </div>
        <table>
          <thead>
          <tr>

            <th>First Name</th>
            <th>Last Name</th>
            <th>Age</th>
            <th>Birthday</th>
            <th>Gender</th>
            <th>Address</th>
            <th>Avatar</th>
            <th>Email</th>
            <th>Insurance Application</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each = "user : ${users}">

            <td th:text = "${user.firstName}"></td>
            <td th:text = "${user.lastName}"></td>
            <td th:text="${user.age}"></td>
            <td th:text = "${user.birthday}"></td>
            <td th:text = "${user.gender}"></td>
            <td th:text = "${user.barangay} + ' ' + ${user.municipality} + ', ' + ${user.state}"></td>
            <td><img th:src="@{${user.avatar}}" /></td>
<!--            <td th:text = "${user.avatar}"></td>-->
            <td th:text = "${user.email}"></td>
            <td>
<!--              <a class="btn btn-primary" th:href="@{/user/{userId}/delete(userId=${user.id})}" onclick="return checkdelete1()"><i class='bx bx-trash'></i></a>-->

              <a class="btn-btn-primary"  th:href="@{/clients/{userId}/new(userId=${user.id})}"><span class="status completed">Apply Insurance</span></i></a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <!-- <div class="todo">
          <div class="head">
              <h3>Todos</h3>
              <i class='bx bx-plus' ></i>
              <i class='bx bx-filter' ></i>
          </div>
          <ul class="todo-list">
              <li class="completed">
                  <p>Todo List</p>
                  <i class='bx bx-dots-vertical-rounded' ></i>
              </li>
              <li class="completed">
                  <p>Todo List</p>
                  <i class='bx bx-dots-vertical-rounded' ></i>
              </li>
              <li class="not-completed">
                  <p>Todo List</p>
                  <i class='bx bx-dots-vertical-rounded' ></i>
              </li>
              <li class="completed">
                  <p>Todo List</p>
                  <i class='bx bx-dots-vertical-rounded' ></i>
              </li>
              <li class="not-completed">
                  <p>Todo List</p>
                  <i class='bx bx-dots-vertical-rounded' ></i>
              </li>
          </ul>
      </div> -->
    </div>
  </main>
  <!-- MAIN -->
</section>
<!-- CONTENT -->


</body>
<script>
  const menuBar = document.querySelector('#content nav .bx.bx-menu');
  const sidebar = document.getElementById('sidebar');

  menuBar.addEventListener('click', function () {
    sidebar.classList.toggle('hide');
  })
  function checkdelete1()
  {
    return confirm('Are you sure you want to delete this record?');
  }

</script>

<script th:src="@{/js/script.js}"></script>
</html>