<html
        xmlns:th="http://thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Boxicons -->
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <!-- My CSS -->
    <!--    <link rel="stylesheet" href="style.css">-->
    <link rel="stylesheet" th:href="@{/css/style.css}">

    <title>Insurance App</title>
</head>
<body>

<!-- SIDEBAR -->
<section id="sidebar">
    <a href="#" class="brand">
        <i class='bx bxs-smile'></i>
        <span class="text">Insurance Company</span>
    </a>
    <ul class="side-menu top">
        <li>
            <a th:href="@{/dashboard}">
                <i class='bx bxs-dashboard' ></i>
                <span class="text">Dashboard</span>
            </a>
        </li>
        <!--        <li class="active">-->
        <!--            <a href="#">-->
        <!--                <i class='bx bxs-shopping-bag-alt' ></i>-->
        <!--                <span class="text">User Information</span>-->
        <!--            </a>-->
        <!--        </li>-->
        <!--        div sec:authorize="hasRole('ROLE_ADMIN')">-->
        <!--        <li sec:authorize="hasRole('ROLE_USER')">-->
        <li sec:authorize="hasRole('ROLE_ADMIN')">
            <a th:href="@{/users}">
                <!--                <i class='bx bxs-shopping-bag-alt' ></i>-->

                <i class='bx bxs-user-account'></i>
                <span class="text">Registered Clients</span>
            </a>
        </li>

        <li sec:authorize="hasRole('ROLE_ADMIN')">
            <a th:href="@{/clients_info}">
                <i class='bx bxs-user-rectangle' ></i>
                <span class="text">Client Information</span>
            </a>
        </li>

        <li sec:authorize="hasRole('ROLE_USER')">
            <a th:href="@{/my-insurance}">
                <i class='bx bxs-user-rectangle' ></i>
                <span class="text">My Insurance</span>
            </a>
        </li>

        <li sec:authorize="hasRole('ROLE_ADMIN')">
            <a th:href="@{/claims}">
                <!--                <i class='bx bxs-doughnut-chart' ></i>-->
                <i class='bx bxs-info-square'></i>
                <span class="text">Claimed Information</span>
            </a>
        </li>

        <li sec:authorize="hasRole('ROLE_USER')">
            <a th:href="@{/user-claims}">
                <!--                <i class='bx bxs-doughnut-chart' ></i>-->
                <i class='bx bxs-info-square'></i>
                <span class="text">My Claimed Information</span>
            </a>
        </li>

        <li sec:authorize="hasRole('ROLE_ADMIN')">
            <a th:href="@{/Insurance}">
                <!--                <i class='bx bxs-message-dots' ></i>-->
                <i class='bx bxs-heart'></i>
                <span class="text">Life Insurance Information</span>
            </a>
        </li>

        <li sec:authorize="hasRole('ROLE_USER')" class="active" >
            <a th:href="@{/user-insurance}">
                <!--                <i class='bx bxs-message-dots' ></i>-->
                <i class='bx bxs-heart'></i>
                <span class="text">Life Insurance Offered</span>
            </a>
        </li>

        <li sec:authorize="hasRole('ROLE_ADMIN')">
            <a th:href="@{/vehicle}">
                <!--                <i class='bx bxs-message-dots' ></i>-->
                <i class='bx bxs-car'></i>
                <span class="text">Vehicle Insurance Information</span>
            </a>
        </li>

        <li sec:authorize="hasRole('ROLE_USER')">
            <a th:href="@{/user-vehicle}">
                <!--                <i class='bx bxs-message-dots' ></i>-->
                <i class='bx bxs-car'></i>
                <span class="text">Vehicle Insurance Offered</span>
            </a>
        </li>

        <!--        <li>-->
        <!--            <a href="#">-->
        <!--                <i class='bx bxs-group' ></i>-->
        <!--                <span class="text">My Profile</span>-->
        <!--            </a>-->
        <!--        </li>-->
    </ul>
    <ul class="side-menu">
        <li>
            <a th:href="@{/profile}">
                <!--                <i class='bx bxs-cog' ></i>-->
                <i class='bx bxs-user-detail'></i>
                <span class="text">My Profile</span>
            </a>
        </li>

        <li>
            <a th:href="@{/logout}" class="logout">
                <i class='bx bxs-log-out-circle' ></i>
                <span class="text">Logout</span>
            </a>
        </li>
    </ul>
</section>
<!-- SIDEBAR -->
<!-- CONTENT -->
<section  id="content">
    <!-- NAVBAR -->
    <nav >
        <i class='bx bx-menu' ></i>


        <!-- <input type="checkbox" id="switch-mode" hidden>
        <label for="switch-mode" class="switch-mode"></label> -->
        <a href="#" class="notification">
            <!--            <span sec:authentication="name"> User</span>-->
            <span sec:authentication="principal.username"> User</span>

        </a>
        <a href="#" class="profile">
            <img th:src="@{/img/people.png}" alt="image" src="">
        </a>
    </nav>
    <!-- NAVBAR -->

    <!-- MAIN -->
    <main>
        <div class="head-title">
            <div class="left">
                <h1>Insurance</h1>
                <ul class="breadcrumb">
                    <li>
                        <a href="#">Life Insurance</a>
                    </li>
                    <li><i class='bx bx-chevron-right' ></i></li>
                    <li>
                        <a class="active" th:href="@{/Insurance}">Life Insurance Offered</a>
                    </li>
                </ul>
            </div>

        </div>



        <div class="table-data">
            <div class="order">
<!--                <div class="head">-->
<!--                    <h3>Life Insurance Information</h3>-->
<!--                    <a class="btn-btn-primary" th:href="@{/insurance/new}"><i class='bx bx-plus'><span>Add Life Insurance</span></i> </a>-->
<!--                </div>-->
                <table>
                    <thead>
                    <tr>
                        <th>insurance_type</th>
                        <!--                        <th>vehicle_type</th>-->
                        <!--                        <th>vehicle_uses</th>-->
                        <th>age_coverage</th>
                        <th>tenure</th>
                        <th>annual_premium</th>
                        <th>monthly_premium</th>
                        <th>amount_insured</th>

<!--                        <th>Action</th>-->
                        <!--                        <th>createdOn</th>-->
                        <!--                        <th>updatedOn</th>-->
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="insurance :${insurances}">
                        <td>[[${insurance.insurance_type}]]</td>
                        <!--                        <td>[[${insurance.vehicle_type}]]</td>-->
                        <!--                        <td>[[${insurance.vehicle_uses}]]</td>-->
                        <td>[[${insurance.age_coverage}]]</td>
                        <td>[[${insurance.tenure}]]</td>
                        <td>[[${insurance.annual_premium}]]</td>
                        <td>[[${insurance.monthly_premium}]]</td>
                        <td>[[${insurance.amount_insured}]]</td>

                        <!--                        <td>[[${insurance.createdOn}]]</td>-->
                        <!--                        <td>[[${insurance.updatedOn}]]</td>-->
                        <!-- <td th:text="${insurance.insurance_category}"></td>
                        <td th:text="${insurance.vehicle_type}"></td>
                        <td th:text="${insurance.vehicle_uses}"></td>
                        <td th:text="${insurance.age_coverage}"></td>
                        <td th:text="${insurance.tenure}"></td>
                        <td th:text="${insurance.annual_premium}"></td>
                        <td th:text="${insurance.monthly_premium}"></td>
                        <td th:text="${insurance.amount_insured}"></td>
                        <td th:text="${insurance.createdOn}"></td>
                        <td th:text="${insurance.updatedOn}"></td> -->
<!--                        <td>-->
<!--                            <a class="btn btn-primary" th:href="@{/insurances/{insuranceId}/delete(insuranceId=${insurance.id})}" onclick="return checkdelete()"><i class='bx bx-trash'></i></a>-->
<!--                            &lt;!&ndash;                            <a class="btn-btn-primary" ><i class='bx bx-trash'></i></a>&ndash;&gt;-->
<!--                            <a class="btn-btn-primary" th:href="@{/insurance/{insuranceId}/edit(insuranceId=${insurance.id})}"><i class='bx bxs-edit-alt'></i></a>-->
<!--                        </td>-->
                    </tr>




                    </tbody>
                </table>
            </div>
            <!-- <div class="todo">
                <div class="head">
                    <h3>Todos</h3>
                    <i class='bx bx-plus' ></i>
                    <i class='bx bx-filter' ></i>
                </div>
                <ul class="todo-list">
                    <li class="completed">
                        <p>Todo List</p>
                        <i class='bx bx-dots-vertical-rounded' ></i>
                    </li>
                    <li class="completed">
                        <p>Todo List</p>
                        <i class='bx bx-dots-vertical-rounded' ></i>
                    </li>
                    <li class="not-completed">
                        <p>Todo List</p>
                        <i class='bx bx-dots-vertical-rounded' ></i>
                    </li>
                    <li class="completed">
                        <p>Todo List</p>
                        <i class='bx bx-dots-vertical-rounded' ></i>
                    </li>
                    <li class="not-completed">
                        <p>Todo List</p>
                        <i class='bx bx-dots-vertical-rounded' ></i>
                    </li>
                </ul>
            </div> -->
        </div>
    </main>
    <!-- MAIN -->
</section>
<!-- CONTENT -->

<script th:src="@{/js/script.js}"></script>
</body>
</html>