<html
        xmlns:th="http://thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Boxicons -->
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <!-- My CSS -->
    <!--    <link rel="stylesheet" href="style.css">-->
    <link rel="stylesheet" th:href="@{/css/style.css}">

    <title>Insurance App</title>
</head>
<body>
<section id="sidebar">
    <a href="#" class="brand">
        <i class='bx bxs-smile'></i>
        <span class="text">Insurance Company</span>
    </a>
    <ul class="side-menu top">
        <li>
            <a th:href="@{/dashboard}">
                <i class='bx bxs-dashboard' ></i>
                <span class="text">Dashboard</span>
            </a>
        </li>
        <!--        <li class="active">-->
        <!--            <a href="#">-->
        <!--                <i class='bx bxs-shopping-bag-alt' ></i>-->
        <!--                <span class="text">User Information</span>-->
        <!--            </a>-->
        <!--        </li>-->
        <li>
            <a th:href="@{/users}">
                <!--                <i class='bx bxs-shopping-bag-alt' ></i>-->

                <i class='bx bxs-user-account'></i>
                <span class="text">Register Clients</span>
            </a>
        </li>

        <li>
            <a th:href="@{/clients_info}">
                <i class='bx bxs-user-rectangle' ></i>
                <span class="text">Client Information</span>
            </a>
        </li>
        <li class="active">
            <a th:href="@{/claims}">
                <!--                <i class='bx bxs-doughnut-chart' ></i>-->
                <i class='bx bxs-info-square'></i>
                <span class="text">Claimed Information</span>
            </a>
        </li>
        <li>
            <a th:href="@{/Insurance}">
                <!--                <i class='bx bxs-message-dots' ></i>-->
                <i class='bx bxs-heart'></i>
                <span class="text">Life Insurance Information</span>
            </a>
        </li>
        <li>
            <a th:href="@{/vehicle}">
                <!--                <i class='bx bxs-message-dots' ></i>-->
                <i class='bx bxs-car'></i>
                <span class="text">Vehicle Insurance Information</span>
            </a>
        </li>
        <!--        <li>-->
        <!--            <a href="#">-->
        <!--                <i class='bx bxs-group' ></i>-->
        <!--                <span class="text">My Profile</span>-->
        <!--            </a>-->
        <!--        </li>-->
    </ul>
    <ul class="side-menu">
        <li>
            <a th:href="@{/profile}">
                <!--                <i class='bx bxs-cog' ></i>-->
                <i class='bx bxs-user-detail'></i>
                <span class="text">My Profile</span>
            </a>
        </li>

        <li>
            <a th:href="@{/logout}" class="logout">
                <i class='bx bxs-log-out-circle' ></i>
                <span class="text">Logout</span>
            </a>
        </li>
    </ul>
</section>
<!-- CONTENT -->
<section  id="content">
    <!-- NAVBAR -->
    <nav>
        <i class='bx bx-menu' ></i>


        <!-- <input type="checkbox" id="switch-mode" hidden>
        <label for="switch-mode" class="switch-mode"></label> -->
        <a href="#" class="notification">
            <span sec:authentication="principal.username"> User</span>
        </a>
        <a href="#" class="profile">
            <img th:src="@{/img/people.png}" alt="image" src="">
        </a>
    </nav>
    <!-- NAVBAR -->

    <!-- MAIN -->
    <main>
        <div class="head-title">
            <div class="left">
                <h1>Claimed</h1>
                <ul class="breadcrumb">
                    <li>
                        <a href="#">Claimed</a>
                    </li>
                    <li><i class='bx bx-chevron-right' ></i></li>
                    <li>
                        <a class="active" href="#">Claimed Information</a>
                    </li>
                    <li><i class='bx bx-chevron-right' ></i></li>
                    <li>
                        <a class="active" href="#">Edit Claimed</a>
                    </li>
                </ul>
            </div>

        </div>



        <div class="table-data">
            <div class="order">
                <div class="head">
                    <h3>Edit Claimed Form</h3>
                    <!--                    <a class="btn-btn-primary" th:href="@{/create/insurance}"><i class='bx bx-plus'><span>Add Life Insurance</span></i> </a>-->
                </div>
                <form role="form" method="post" th:action="@{/claim/{claimId}/edit(claimId=${claim.id})}"  th:object="${claim}" enctype="multipart/form-data">
                    <input type="hidden" th:field="*{id}">

                    <div class="form-group">
                        <label for="claimer">Claimer</label>
                        <input
                                type="text"
                                class="form-control"
                                id="claimer"
                                name="claimer"
                                th:field="*{claimer}"
                                placeholder="claimer">
                        <p th:if="${#fields.hasErrors('claimer')}" class="text-danger" th:errors="*{claimer}"></p>
                    </div>
                    <div class="form-group">
                        <label for="client">Client</label>
                        <input
                                type="text"
                                class="form-control"
                                id="client"
                                name="client"
                                th:field="*{client}"
                                aria-describedby="emailHelp"
                                placeholder="Enter client">
                        <p th:if="${#fields.hasErrors('client')}" class="text-danger" th:errors="*{client}"></p>
                    </div>
                    <div class="form-group">
                        <label for="admin">Admin In-Charged</label>
                        <input
                                type="text"
                                class="form-control"
                                id="admin"
                                name="admin"
                                th:field="*{admin}"
                                placeholder="admin">
                        <p th:if="${#fields.hasErrors('admin')}" class="text-danger" th:errors="*{admin}"></p>
                    </div>

                    <div class="form-group">
                        <label class="form-label">Upload Document</label>
                        <input type="file" name="file"  />

                        <p th:if="${#fields.hasErrors('document')}" class="text-danger" th:errors="*{document}"></p>
                    </div>
                    <div class="form-group">
                        <label for="claim_amount">Amount Claimed</label>
                        <input
                                type="number"
                                class="form-control"
                                id="claim_amount"
                                name="claim_amount"
                                th:field="*{claim_amount}"
                                placeholder="claim_amount">
                        <p th:if="${#fields.hasErrors('claim_amount')}" class="text-danger" th:errors="*{claim_amount}"></p>
                    </div>

                    <div class="form-group">
                        <label for="status">Status</label>
                        <input
                                type="text"
                                class="form-control"
                                id="status"
                                name="status"
                                th:field="*{status}"
                                placeholder="status">
                        <p th:if="${#fields.hasErrors('status')}" class="text-danger" th:errors="*{status}"></p>
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
                <!--                //put here the content-->
            </div>

        </div>
    </main>
    <!-- MAIN -->
</section>
<!-- CONTENT -->
<script th:src="@{/js/script.js}"></script>

</body>

</html>